* ,*::before,*::after {
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right ,black,rgb(60,60,60));
}
.container{
    max-width: 500px;
    max-height: 500px;
  width: 50vw;
  height: 50vw;
    background-color: aqua;
    border-radius: 50%;
    border: whitesmoke;
    position: relative;
    color: white;
    margin: auto auto;
    display: flex;
}
.number{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    font-size: 2rem;
    box-sizing: border-box;
}
.number1{transform: rotate(30deg);}
.number2{transform: rotate(60deg);}
.number3{transform: rotate(90deg);}
.number4{transform: rotate(120deg);}
.number5{transform: rotate(150deg);}
.number6{transform: rotate(180deg);}
.number7{transform: rotate(210deg);}
.number8{transform: rotate(240deg);}
.number9{transform: rotate(270deg);}
.number10{transform: rotate(300deg);}
.number11{transform: rotate(330deg);}

.hand{
    position: absolute;
    justify-self: center;
    align-self: center;
    background-color: lightgreen;
    top: 48%;
    width: 40%;
    left: 50%;
    z-index: 3;
}

