body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke;
    height: 100vh;


}
.container{
    background-color: aqua;
    padding: 1.5rem;
   max-width: 90%;
   width: 38rem;
   border-radius: 0.5rem;
   
}
#typing_input{
    width: 100%;
    height: 20rem;
    border-radius: 0.25rem;
    background-color: aqua;
   
    outline: none;
    resize: none;

}
#typing_input:focus{
border: 1px solid rgb(33,33,33);
}
#typing_timer{
position: absolute;
top: 2rem;
font-size: 2rem;
font-weight: bold;
color: rgb(80,80,80);
}